<header class="header">
  <a class="logo" href="/">Cap<span>i</span>tal</a> <input class="menu-btn" id="menu-btn" type="checkbox"> <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li>
      <a href="#portfolio">Portfolio</a>
    </li>
    <li>
      <a href="#account">Account</a>
    </li>
    <li>
      <a href="#banking">Banking</a>
    </li>
    <li>
      <a href="#history">History</a>
    </li>
    <li>
      <a href="#report">Report</a>
    </li>
  </ul>
</header>
<div class="content">
  <app-data-chart></app-data-chart>
  <app-data-grid></app-data-grid>
</div>
<footer class="footer">
  <span>Some text</span> <a class="" href="/">Cap<span>i</span>tal</a>
</footer>